html, body {
	width: 100%;
	height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, p {
	margin: 0;
	padding: 0;
}

body, div, table, td {
	font: 10pt;
	color: #2A2A2A;
	font-family: MalgunGothic;
}

th {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 8px 0 8px 0;
	text-align: center;
}

td {
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom: 1px solid #dedede;
	word-wrap: break-word;
}

td {
	font-style: italic;
}