<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<select id="modellist" resultType="com.harmony.longterm.vo.CarVO">
		SELECT m.maker, m.name model_name, m.ranking model_ranking, m.image FROM model m
		WHERE m.active = 1
		GROUP BY maker, NAME
		<if test=" maker != '' " >
			AND m.maker = #{maker}
		</if>
		ORDER BY maker, ranking
	</select>

	<update id="model_ranking" >
		UPDATE model
		SET ranking = #{model_ranking}, image = #{image}
		WHERE maker = #{maker} AND name= #{model_name}
	</update>
	
	<select id="lineuplist" resultType="com.harmony.longterm.vo.CarVO">
		SELECT id model_id, maker, name model_name, lineup, active, ranking, 
				image, displacement, car_type, 
				janga24, janga36, janga48,
				tax_type, tax_rate,
				cal_rate_10_24, cal_rate_10_36, cal_rate_10_48,
				cal_rate_50_24, cal_rate_50_36, cal_rate_50_48,
				maintain_fee_10_24, maintain_fee_10_36, maintain_fee_10_48, 
				maintain_fee_50_24, maintain_fee_50_36, maintain_fee_50_48
		FROM model 
		WHERE active = 1
		<if test=" maker != '' "> 
			AND maker = #{maker} 
		</if>
			AND name=#{model_name}
		ORDER BY ranking
	</select>
	
	<select id="trim" resultType="com.harmony.longterm.vo.CarVO">
		call trimInfo(#{trim_id}, #{deposit}, #{period});
	</select>


	<select id="basecolorlist" resultType="com.harmony.longterm.vo.BaseColorVO">
		select * from color
	</select>

	
	<select id="trimlist" resultType="com.harmony.longterm.vo.CarVO">
		select * from trimview where model_id=#{model_id}
	</select>
	
	<select id="optionlist" resultType="com.harmony.longterm.vo.OptionVO">
		SELECT id option_id, name, price, exclusive exc FROM options o 
		WHERE active = 1 AND trim_id = #{trim_id}
		ORDER BY ranking
	</select>
	
	
	<select id="colorlist" resultType="com.harmony.longterm.vo.ColorVO">
		SELECT * from colorview where model_id=#{model_id}
	</select>

	<select id="selectAccountByUserIDCount" resultType="int">
		SELECT count(*) 
		FROM bank_account 
		WHERE reg_id=#{reg_id}
	</select>
	
	<select id="selectAccountByUserID" resultType="com.harmony.longterm.vo.BankAccountVO">
		SELECT bank_name, account, carno, user_name, reg_id, memo, used_code, recv_date 
		FROM bank_account 
		WHERE reg_id=#{reg_id}
		ORDER BY recv_date DESC
		LIMIT #{page}, #{count}
	</select>
	
	<insert id="insertAccount" parameterType="com.harmony.longterm.vo.BankAccountVO"> 
        INSERT INTO bank_account 
        	( 
        		bank_name, 
				account
        	)
        VALUES 
        	(
        		${bank_name}, 
        		${account}
        	) 
    </insert>
    <update id="updateAccount" parameterType="Map">
		UPDATE bank_account 
		<set>
			<if test="carno != null and carno != ''">carno = #{carno},</if>
			<if test="user_name != null and user_name != ''">user_name = #{user_name},</if>
			<if test="memo != null and memo != ''">memo = #{memo},</if>
			<if test="used_code != null and used_code != ''">used_code = #{used_code},</if>
		</set>
    	WHERE account=#{account}
    	AND used_code = '1'
    	AND reg_id = #{reg_id}
    </update> 
    <update id="updateAccountRecv" parameterType="com.harmony.longterm.vo.BankAccountVO">
		UPDATE bank_account AS ba, (SELECT account FROM bank_account WHERE used_code='0' LIMIT 1) AS ac
		SET
			used_code = '1',
			recv_date = now(),
			reg_id = #{reg_id}
    	WHERE ba.account=ac.account
    	AND used_code = '0'
    </update>
    
</mapper>