<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="api">
	
	<select id="selectApiRecvDataList" resultType="com.harmony.longterm.vo.ApiRecvDataVO">
		SELECT 	seqno, 
			coop_cd, 
			plfm_mrkn_chnl_cd, 
			affl_acpt_req_no, 
			agm_agrm_dt, 
			(SELECT code_nm FROM code_mst WHERE code_class='KIND_PRODUCT' AND code_val=offr_prdt_cd ) AS offr_prdt_cd, 
			cust_no, 
			cust_nm, 
			cust_ctif_cn, 
			cnsl_vhtp_nm, 
			(SELECT code_nm FROM code_mst WHERE code_class='REASON_CODE' AND code_val=drot_rsn_cd ) AS drot_rsn_cd,
			(SELECT code_nm FROM code_mst WHERE code_class='AGE_CODE' AND code_val=cust_sgmn_cd ) AS cust_sgmn_cd, 
			asset_no, 
			gndr, 
			brthdt, 
			cntr_term_mm, 
			prms_dtc, 
			impsnl, 
			pldg_rt, 
			rgl_rent_amt, 
			reg_date, 
			status, 
			memo,
			manager
		FROM api_recv_data
		<if test="coop_cd != null and coop_cd != '' ">
			WHERE coop_cd=#{coop_cd}
		</if>
		<if test="search1 != null and search1 != '' ">
			AND ${type1} LIKE CONCAT('%',#{search1}, '%')
		</if>
		<if test="searchStart != null and searchStart != '' ">
		<![CDATA[
			AND reg_date >= #{searchStart}
		]]>
		</if>
		<if test="searchEnd != null and searchEnd != '' ">
		<![CDATA[
			AND reg_date <= CONCAT(#{searchEnd},' 23:59:59')
		]]>
		</if>
		
		<if test="orderby !=null and orderby != '' ">
			ORDER BY ${orderfield}  ${orderby}
		</if>
		
		limit #{page}, #{count}
	</select>

	<select id="selectApiRecvDataTotCnt" resultType="int">
		SELECT count(*) FROM api_recv_data
		<if test="coop_cd != null and coop_cd != '' ">
			WHERE coop_cd=#{coop_cd}
		</if>
		<if test="search1 != null and search1 != '' ">
			AND ${type1} LIKE CONCAT('%',#{search1}, '%')
		</if>		
		<if test="searchStart != null and searchStart != '' ">
		<![CDATA[
			AND reg_date >= #{searchStart}
		]]>
		</if>
		<if test="searchEnd != null and searchEnd != '' ">
		<![CDATA[
			AND reg_date <= CONCAT(#{searchEnd},' 23:59:59')
		]]>
		</if>
	
	</select>
	
	<insert id="insertApiRecvData" useGeneratedKeys="true" keyProperty="id" parameterType="com.harmony.longterm.vo.ApiRecvDataVO"> 
        INSERT INTO api_recv_data 
        ( 
 			seqno, 
			coop_cd, 
			plfm_mrkn_chnl_cd, 
			affl_acpt_req_no, 
			agm_agrm_dt, 
			offr_prdt_cd, 
			cust_no, 
			cust_nm, 
			cust_ctif_cn, 
			cnsl_vhtp_nm, 
			drot_rsn_cd, 
			cust_sgmn_cd, 
			asset_no, 
			gndr, 
			brthdt,
			cntr_term_mm,
			prms_dtc,
			impsnl,
			pldg_rt,
			rgl_rent_amt,
			reg_date,
			memo,
			manager
        ) VALUES (
        	0, 
        	#{coop_cd}, 
        	#{plfm_mrkn_chnl_cd}, 
        	#{affl_acpt_req_no}, 
        	#{agm_agrm_dt}, 
        	#{offr_prdt_cd}, 
        	#{cust_no}, 
        	#{cust_nm},
        	#{cust_ctif_cn}, 
        	#{cnsl_vhtp_nm}, 
        	#{drot_rsn_cd}, 
        	#{cust_sgmn_cd}, 
        	#{asset_no},
        	#{gndr},
        	#{brthdt},
        	#{cntr_term_mm},
        	#{prms_dtc},
        	#{impsnl},
        	#{pldg_rt},
        	#{rgl_rent_amt},
        	NOW(),
        	#{memo},
        	#{manager}
        	
        ) 
    </insert>

    <update id="updateApiRecvData" parameterType="map">
		UPDATE api_recv_data 
		<set>
			<if test="cntrReqSts != null and cntrReqSts != ''">status = #{cntrReqSts},</if>
			<if test="coop_cd != null and coop_cd != ''">coop_cd = #{coop_cd},</if>
			<if test="cust_nm != null and cust_nm != ''">cust_nm = #{cust_nm},</if>
			<if test="cnsl_vhtp_nm != null and cnsl_vhtp_nm != ''">cnsl_vhtp_nm = #{cnsl_vhtp_nm},</if>
			<if test="manager != null and manager != ''">manager = #{manager},</if>
			memo = #{memo}, 
		</set>
    	WHERE seqno=#{seqno}
    </update>
    
</mapper>