<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rent.car">
	<select id="modellist" resultType="com.harmony.longterm.vo.CarVO">
		SELECT maker, name as model_name, image, image as image2, MIN(ranking) AS ranking 
		FROM model 
		WHERE active = 1 
		AND maker = #{maker}
		GROUP BY maker, name, image
		ORDER BY ranking
<!--  	
		SELECT distinct m.maker maker, m.name model_name, i.image image, ranking FROM model m
		LEFT JOIN (SELECT distinct name, image FROM model WHERE image != "" ) i
		on m.name = i.name
		WHERE m.active = 1 AND m.maker = #{maker}
		ORDER BY m.ranking
-->		
	</select>

	<select id="lineuplist" resultType="com.harmony.longterm.vo.CarVO">
		SELECT id model_id, maker, name model_name, lineup, active FROM model 
		WHERE active = 1 AND maker = #{maker} AND name=#{model}
		ORDER BY ranking
	</select>
	
	<select id="trim" resultType="com.harmony.longterm.vo.CarVO">
		call trimInfo(#{trim_id}, #{deposit}, #{period});
	</select>


	<select id="color" resultType="com.harmony.longterm.vo.ColorVO">
		select * from trimcolor tc
		LEFT JOIN color c ON tc.color_id = c.idcolor
		where idtrimcolor=(#{color_id});
	</select>

	
	<select id="trimlist" resultType="com.harmony.longterm.vo.CarVO">
		select * from trimview where model_id=#{model_id}
	</select>
	
	<select id="optionlist" resultType="com.harmony.longterm.vo.OptionVO">
		SELECT id option_id, name, price, exclusive exc FROM options o 
		WHERE active = 1 AND trim_id = #{trim_id}
		ORDER BY ranking
	</select>
	
	
	<select id="colorlist" resultType="com.harmony.longterm.vo.ColorVO">
		SELECT * from colorview where model_id=#{model_id}
	</select>
	
	<select id="holdingcarlist" resultType="com.harmony.longterm.vo.HoldingCarVO">
		SELECT fullname, link_url FROM holdingcar
		<![CDATA[
			WHERE model_id = #{model_id} 
			AND trim_id = #{trim_id}
			AND options = #{optionlist}
			AND status = 'Y'
		]]>
	</select>
		
	<select id="trimDetail" resultType="com.harmony.longterm.vo.CarVO">
 		SELECT 
        	m.id AS model_id
        	,m.maker AS maker
        	,m.name AS model_name
        	,m.lineup AS lineup
        	,m.image AS image
        	,m.ranking AS model_ranking
        	,t.id AS trim_id
        	,t.name AS trim_name
        	,t.price AS price
        	,t.fuel AS fuel
        	,m.elec_sub AS elec_sub
        	,m.displacement AS displacement
        	,m.car_type AS car_type
        	,m.janga24 AS janga24
        	,m.janga36 AS janga36
        	,m.janga48 AS janga48
        	,m.tax_type AS tax_type
        	,m.tax_rate AS tax_rate
        	,m.tagsong AS tagsong
        	,t.fees_rate AS fees_rate
        	,t.maker_rate AS maker_rate
        	,irr 
        	,fuel_model
        	,m.cal_rate_10_24
        	,m.cal_rate_10_36
        	,m.cal_rate_10_48
        	,m.cal_rate_50_24
        	,m.cal_rate_50_36
        	,m.cal_rate_50_48
        	,maintain_fee_10_24
        	,maintain_fee_10_36
        	,maintain_fee_10_48
        	,maintain_fee_50_24
        	,maintain_fee_50_36
        	,maintain_fee_50_48
        	<if test="deposit == 0.1">
        		<if test="deposit == 24">
        			,m.cal_rate_10_24 AS cal_rate
        			,m.maintain_fee_10_24 AS maintain_fee
        		</if>
        		<if test="deposit == 36">
        			,m.cal_rate_10_36 AS cal_rate
        			,m.maintain_fee_10_36 AS maintain_fee
        		</if>
        		<if test="deposit == 48">
        			,m.cal_rate_10_48 AS cal_rate
        			,m.maintain_fee_10_48 AS maintain_fee
        		</if>
        	</if>
        	<if test="deposit == 0.5">
        		<if test="deposit == 24">
        			,m.cal_rate_50_24 AS cal_rate
        			,m.maintain_fee_50_24 AS maintain_fee        			
        		</if>
        		<if test="deposit == 36">
        			,m.cal_rate_50_36 AS cal_rate
        			,m.maintain_fee_50_36 AS maintain_fee        			
        		</if>
        		<if test="deposit == 48">
        			,m.cal_rate_50_48 AS cal_rate
        			,m.maintain_fee_50_48 AS maintain_fee        			
        		</if>
        	</if>
    	FROM model m
        LEFT JOIN trim t ON (t.model_id = m.id)
    	WHERE m.active = 1
    	AND t.active = 1 
    	AND t.id = #{trim_id}
	</select>
</mapper>